/*------HOME-----*/
li {
    list-style-type: square;
    background-color: rgb(1, 1, 1);
    display: flex;

}

#menu li{
    display:flex;
    margin:4px;
    padding:8px; /*padding,margin ou gap*/
    flex-direction: column;

}

#menu li a{
    text-decoration: none; /*sem icone na lista*/
    color:rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 15px;

}

#menu li a:hover{
    color:rgb(108, 105, 108);
    font-family: Helvetica; /*família da fonte*/
    font-size: 15px; /*tamanho da fonte*/
    font-weight: bold; /*tipo da fonte*/
}

.flex-container{
    display:flex;
    flex-direction: column-reverse;
    width:200px;
    
}

.home-container{
    display:flex;
    position: static;
    flex-flow: row;
    
    
    
    
    
}

h1{
    font-size:80px;
    font-family:Geneva, Verdana, sans-serif;
    position: relative;
    left: 180px;
    margin: 90px;
    word-break: break-word;
    
    
    
        
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
    padding:4px;
    right: 80px;

    
  }



/*------CONTATO-----*/
form {

    margin: 80px;
    text-align: left;

}

.img-contato{
    margin-right: 140px;
    margin-bottom: 60px;
}

/*------PERFIS-----*/
