.box1 {
    background-color: #030303;
    height: 120px;
}

.box2 {
    background-color: #4e4e4e;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}